<div class="container">
    <div>
        <h1>PONETE EN <br> <span>CONTACTO</span></h1>
        <h3>Si querés conocer nuestros productos, podés comprar desde nuestra tienda online o acercarte a nuestro local comercial para conocerlos personalmente. Podés pagar en efectivo, con tarjeta de crédito o transferencia. Envíos a domicilio en 24 horas</h3>
    </div>
    <div>
        <div class="data">
            <div>
                <h4>DIRECCION</h4>
                <h5>Rodriguez 233</h5>
            </div>
            <div>
                <h4>TELEFONO</h4>
                <h5>2494422526</h5>
            </div>
        </div>
        <div >
            <div>
                <h4>HORARIOS</h4>
                <h5>LUN - VIE (9hs a 20hs) </h5>
            </div>
            <div>
                <h4>MAIL</h4>
                <h5>footballShirt@gmail.com</h5>
            </div>
        </div>
    </div>
</div>