.img-cart{
    width: 50px;
    margin-right: 10px
}
h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 25px;
    margin-top: 9px;
}
.front{
    margin: 20px 0px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 8px;
    border-bottom: solid black;
}
.front-first, .buy-shirt{
    display: flex;
    justify-content: center;
}
.img-delete{
    width: 25px;
}
button{
    border: none;
}
td{
    vertical-align: middle;
    color: black;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.first{
    display: flex;
    justify-content: center;
}
span{
    display: flex;
    justify-content: space-between;
}
.btn-buy{
    display: flex;
    align-items: center;
}
td img {
    width: 50px;
    border: solid black 1px;
    margin-right: 100px;
}
.shirt-cart{
    display: flex;
    justify-content: flex-start;    
}
.input-integer{
    margin-left: 30px;

}


