*{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
.top-forehead{
    display: flex;
    justify-content: center;
    align-items: center;   
    margin-bottom: 50px ;
}
.img-forehead{
    width: 200px;
}
.img-cart{
    width: 20px;
}
h1{
    font-family: 'Courier New', Courier, monospace  ;
    font-size: 60px;
    font-weight: bolder;
    margin-left: 50px;
}
.logo{
    width: 50px;
    margin-right: 10px;
}

.pre-footer{
display: block;
margin: auto;
background-color:  #1b5b2b;
}

footer{
    color: black;
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}